@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,300;0,400;0,500;0,600;1,100&display=swap");

body {
  font-family: "Montserrat", sans-serif;
}

header {
  background: #bbbbbb;
  padding: 20px;
}
.caixa {
  position: relative;
  width: 100%;
  margin: 0 auto;
}

nav {
  position: absolute;
  top: 110px;
  right: 20px;
}

nav li {
  display: inline;
  margin: 0 0 0 15px;
}

nav a {
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
  font-weight: bold;
  font-size: 22px;
}

nav a:hover {
  color: #c78c19;
  text-decoration: underline;
}
.banner {
  width: 100%;
}

.produtos {
  width: 100%;
  margin: 0 auto;
  padding: 50px 0;
}

.produtos li {
  display: inline-block;
  text-align: center;
  width: 30%;
  vertical-align: top;
  margin: 0 1.5%;
  padding: 30px 20px;
  box-sizing: border-box;
  border: 2px solid #000;
  border-radius: 10px;
}

.produtos li:hover {
  border-color: #c78c19;
}
.produtos li:active {
  border-color: #088c19;
}

.produtos li:hover h2 {
  font-size: 34px;
}

.produtos h2 {
  font-size: 30px;
  font-weight: bold;
}

.produto-descricao {
  font-size: 14px;
}

.preco-produto {
  font-size: 22px;
  font-weight: bold;
  margin-top: 10px;
}

footer {
  text-align: center;
  background: url("../../assets/images/bg.jpg");
  padding: 40px 0;
}

.copyright {
  color: #fff;
  font-size: 13px;
  margin-top: 20px;
}

/*form*/

form {
  margin: 40px 0;
  padding: 40px;
}

form label,
form legend {
  display: block;
  font-size: 20px;
  margin-bottom: 10px;
}

.input-padrao {
  display: block;
  margin-bottom: 20px;
  padding: 10px 25px;
  width: 40%;
}

.checkbox {
  margin: 20px 0;
}

.enviar {
  width: 40%;
  padding: 15px 0;
  background-color: orange;
  color: white;
  font-weight: bold;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  transition: 1s all;
  cursor: pointer;
}

.enviar:hover {
  background-color: red;
  transform: scale(1.2) rotate(360deg);
}

table {
  margin: 20px 40px;
}

thead {
  background: #555;
  color: white;
  font-weight: bold;
}

td,
th {
  border: 1px solid #000000;
  padding: 8px 15px;
}

/* css da pagina inicial*/

.principal {
  width: 680px;
  padding: 3em;
  background: #fefefe;
  margin: 0 auto;
}

.titulo-principal {
  text-align: center;
  font-size: 2em;
  margin: 0 0 1em;
  clear: left;
}

.principal p {
  margin: 0 0 1em;
}

.principal strong {
  font-weight: bold;
}

.principal em {
  font-style: italic;
}
.utencilios {
  width: 120px;
  float: left;
  margin: 0 20px 20px 0;
}

.conteudo-beneficios {
  width: 100%;
  margin: 0 auto;
  display: flex;
  gap: 50px;
  justify-content: space-around;
}

.itens {
  line-height: 1.5;
}

.itens::before {
  content: "🟊";
}

.itens:first-child {
  font-weight: bold;
}

.imagemBeneficios {
  width: 50%;
  opacity: 1;
  transition: 400ms;
}

.imagemBeneficios:hover {
  opacity: 0.3;
}

.beneficios {
  padding: 3em 0;
  background: #888888;
}

.mapa {
  padding: 3em 0;
  background: linear-gradient(#fefefe, #888888);
}

.mapa-conteudo {
  width: 100%;
  margin: 0 auto;
}

.mapa p {
  margin: 0 0 2em;
  text-align: center;
}
.video {
  width: 65%;
  margin: 3em auto;
}

@media screen and (max-width: 768px) {
  .mapa-conteudo,
  .video {
    width: 90%;
  }
}
@media screen and (max-width: 480px) {
  .caixa,
  .principal,
  .conteudo-beneficios {
    width: auto;
  }

  .mapa-conteudo,
  .video {
    width: 90%;
  }
  h1 {
    text-align: center;
  }

  nav {
    position: static;
    text-align: center;
  }

  .principal p {
    padding: 10px;
  }

  .utencilios {
    margin-left: 10px;
  }
  .conteudo-beneficios {
    flex-direction: column;
    align-items: center;
  }

  .produtos {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
  }

  .produtos li {
    width: 70%;
  }

  form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 40px;
  }

  .input-padrao {
    width: 80%;
  }

  form label,
  form legend {
    font-size: 16px;
  }

  .enviar {
    width: 50%;
    padding: 15px;
    margin: 0 auto;
  }

  table {
    margin: 20px auto 40px;
    width: 80%;
  }
}
